* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/** UTILITIES  */

.debug {
  border: 2px solid orange;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.container-large {
  width: 1380px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.justify-between {
  justify-content: space-between;
}

.flex.justify-around {
  justify-content: space-around;
}

.flex.align-center {
  align-items: center;
}

.flex.wrap {
  flex-wrap: wrap;
}

.primary-btn {
  display: inline-block;
  background-color: #0061ff;
  color: #fff;
  padding: 10px 15px;
}

.divider {
  width: 50px;
  border-bottom: 1px solid lightgray;
}

/** GENERICS  */

body {
  font-family: "Roboto", sans-serif;
}

header {
  max-width: 100%;
  padding: 0 20px;
  background-color: #fff;
  border-bottom: 2px solid lightgray;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header + * {
  margin-top: 82px;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 4.5rem;
  font-weight: 900;
  padding: 70px 0 60px 0;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

/* Header */

header nav {
  padding: 20px 0;
}

header a {
  text-decoration: none;
  color: #222;
}

.website-nav ul li {
  margin-right: 30px;
}

.user-nav ul li {
  margin-left: 30px;
}

/* Main */

/* 
Jumbotron
*/

.jumbotron {
  width: 100%;
  background-color: #b4d0e7;
}

.jumbotron-content {
  width: 30%;
  height: 100%;
  font-size: 1.1rem;
}

.jumbotron-img {
  width: 70%;
  margin-bottom: -80px;
}

.jumbotron .primary-btn {
  margin: 30px 0;
}

.jumbotron i {
  font-size: 3rem;
  margin: 30px 0;
  cursor: pointer;
}

/* 
Sub plans
*/

.sub-plans {
  margin: 200px 0 150px 0;
}

.sub-plans h2 {
  margin-bottom: 50px;
}

.sub-payment-monthly,
.sub-payment-yearly {
  display: inline-block;
  margin: 0 50px 50px 0;
}

.vertical-subs-box {
  display: flex;
  margin-bottom: 50px;
}

.vertical-sub-card {
  width: calc(100% / 3);
  height: 1000px;
  font-weight: 300;
  border: 1px solid lightgray;
}

.vertical-sub-card:nth-child(2) {
  margin: 0 50px;
}

.sub-card-header {
  border-bottom: 1px solid lightgray;
  text-align: center;
  padding: 10px 0;
}

.sub-card-content {
  padding: 0 45px;
  height: 100%;
}

.sub-card-content-top {
  height: 50%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sub-card-content-top .primary-btn {
  width: 100%;
  text-align: center;
}

.sub-card-price {
  font-weight: bold;
}

.sub-card-price span {
  font-weight: normal;
}

.sub-card-description ul li {
  margin-bottom: 10px;
}

.sub-card-content .divider {
  width: 50px;
  margin: 30px 0;
  border-bottom: 1px solid lightgray;
}

.sub-card-keypoints ul :first-child {
  font-weight: bold;
}

.fa-ul {
  margin-left: 0;
}

.fa-ul li {
  margin: 25px 0;
}

.sub-card-keypoints i {
  color: #0061ff;
}

.horizontal-sub-card {
  width: 100%;
  font-weight: 300;
  border: 1px solid lightgray;
}

.horizontal-sub-card .sub-card-content {
  display: flex;
  padding: 30px;
}

.horizontal-sub-card .sub-card-price {
  font-size: 1rem;
  margin: 15px 0;
}

.sub-card-content-left {
  width: 70%;
  margin-right: 50px;
}

.horizontal-sub-card .sub-card-description {
  margin-top: 50px;
}

.sub-card-content-right .primary-btn {
  padding: 10px 40px;
}

/* 
Partners
*/

.partners {
  margin-bottom: 150px;
}

.partners .col-left {
  width: 60%;
}

.partners .col-right {
  width: 40%;
  padding: 70px 50px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.partner-btn {
  padding: 10px 15px;
  border: 1px solid currentColor;
}

.partners a {
  text-decoration: none;
  color: currentColor;
  display: inline-block;
}

/* 
Operations
*/

.operations-showcase {
  margin-bottom: 150px;
}

.operations-showcase .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.operations-card {
  width: calc(100% / 3 - 30px);
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* 
Clients link
*/

.clients-link {
  margin-bottom: 150px;
}

.clients-link h2 {
  margin-bottom: 50px;
}

/* 
Clients grid
*/

.grid-left,
.grid-center,
.grid-right {
  width: calc(100% / 3);
  min-height: 800px;
}

.grid-card {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.grid-card svg {
  width: 50%;
}

.designit-card {
  background-color: #a2d39b;
  box-shadow: 0px 0px 0px 20px #d1e9cd inset;
}

.arizona-card {
  background-color: #61082b;
}

.florida-card {
  background-color: #0093ce;
}

.topps-card {
  background-color: #ff1c1c;
}

.bicycle-card {
  background-color: #d5001f;
}

.hearst-card {
  background-color: #b4d0e7;
}

.planet-card {
  background-color: #0d2481;
}

.channel-card {
  background-color: #ffd830;
}

.grid-center {
  background-color: #f5f5f5;
  color: black;
  padding: 50px;
  font-size: 1.2rem;
}

.grid-center .divider {
  width: 150px;
  margin: 70px 0;
}

.grid-center p {
  margin-bottom: 70px;
}

/* 
Action
*/

.action {
  background-color: #b4d0e7;
  margin-bottom: 150px;
}

.action a {
  text-decoration: none;
}

.action .primary-btn {
  background-color: white;
  color: black;
  padding: 10px 50px;
}

.action .row {
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action h2 {
  color: #61082b;
}

/* 
Faq
*/

.faq {
  margin-bottom: 150px;
}

.faq-list {
  margin-top: 70px;
}

.faq-list .question-card {
  font-weight: bold;
  padding: 40px 0;
  border-bottom: 1px solid #999;
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}

.faq-list .question-card:first-child {
  border-top: 1px solid #999;
}

.answer-btn i {
  cursor: pointer;
}

/** Footer  */

footer {
  background-color: black;
  color: white;
  padding-top: 100px;
}

footer a {
  text-decoration: none;
  color: currentColor;
}

footer .row {
  display: flex;
  justify-content: space-between;
}

footer .col {
  max-width: calc(100% / 5);
}

footer ul li:first-child {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

footer ul li {
  margin-bottom: 15px;
}

footer .divider {
  width: 60%;
  margin: 100px 0 50px 0;
  border-bottom: 1px solid white;
}

footer .language {
  padding-bottom: 30px;
  color: #999999;
  cursor: pointer;
}
