* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/** UTILITIES  */

.debug {
  border: 2px solid orange;
}

.container-large {
  width: 1380px;
  min-height: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.justify-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

.primary-btn {
  display: inline-block;
  background-color: #0061ff;
  color: #fff;
  padding: 10px 15px;
}

/** GENERICS  */

body {
  font-family: "Roboto", sans-serif;
}

header {
  max-width: 100%;
  height: 85px;
  padding: 0 20px;
  background-color: #fff;
  border-bottom: 2px solid lightgray;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header + * {
  margin-top: 85px;
}

img {
  max-width: 100%;
}

/* Header */

header nav {
  height: 100%;
}

header ul {
  list-style: none;
}

header a {
  text-decoration: none;
  color: #222;
}

.website-nav ul li {
  margin-right: 30px;
}

.user-nav ul li {
  margin-left: 30px;
}

/* Main */

/* 

Jumbotron

*/

.jumbotron {
  width: 100%;
  background-color: #b4d0e7;
}

.jumbotron h1 {
  font-size: 4.5rem;
  font-weight: 900;
  padding: 70px 0 60px 0;
}

.jumbotron-content {
  width: 30%;
  height: 100%;
  font-size: 1.1rem;
}

.jumbotron-img {
  width: 70%;
  margin-bottom: -80px;
}

.jumbotron .primary-btn {
  margin: 30px 0;
}

.jumbotron i {
  font-size: 3rem;
  margin: 30px 0;
  cursor: pointer;
}
